* {
    font-family: Monospace, ;
    background-color: Gainsboro;
    text-align: center;
    margin: 4px;
    padding: 3px;
}
.likings {
    text-transform: uppercase;
}
title {
    text-align: center;
}
h1 {
    border-bottom: 1px solid #888;
}

